* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    background: url("./imgs/bk.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100vh;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1216px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 64px;
}

.container_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 56%;
}

.container_text h1 {
    font-size: 48px;
}

.container .cards {
    display: flex;
    width: 100%;
    gap: 32px;
}

.container .card {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 320px;
    height: fit-content;
    background-color: white;
    gap: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.container .card img {
    width: 100%;
}

.card h2 {
    color: #F99417;
    text-align: left;
    width: 100%;
}